Theme: TestTheme
Theme URI: http://localhost/wordpress
Description: This wordpress theme is for Testing 
Author: Qasim 
Author URI: www.facebook.com/boorishbrat
License: General Public License
Licesne URI:www.
version: 2.0.0 Alfa
Tags: Responsive, Featured , Gallery , Menu, sidebars, Contact page, Comments, images